<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectaty"
        tools:targetApi="31">
        <activity
            android:name=".activities.usermanagement.IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.usermanagement.StudentProfile"/>
        <activity android:name=".activities.usermanagement.CreateAccount"/>
        <activity android:name=".activities.usermanagement.LoginActivity"/>
        <activity android:name=".activities.usermanagement.UpdateProfile"/>
        <activity android:name="com.projectaty.activities.taskmanagement.TaskList" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.SearchTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.UpdateDelTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.CreateTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.TasksDashboard" android:exported="true"/>

        <activity android:name=".activities.teamsmanagement.SearchMember" android:exported="false" />
        <activity android:name=".activities.teamsmanagement.TeamDashboard" android:exported="false" />
        <activity android:name=".activities.teamsmanagement.SearchTeam" android:exported="false" />
        <activity android:name=".activities.teamsmanagement.TeamList" />
        <activity android:name=".activities.teamsmanagement.UpdateDelTeam" />
        <activity android:name=".activities.teamsmanagement.CreateTeam" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.usermanagement.IntroductoryActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.usermanagement.StudentProfile"/>
        <activity android:name=".activities.usermanagement.CreateAccount"/>
        <activity android:name=".activities.usermanagement.LoginActivity"/>
        <activity android:name=".activities.usermanagement.UpdateProfile"/>
        <activity android:name="com.projectaty.activities.taskmanagement.TaskList" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.SearchTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.UpdateDelTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.CreateTask" android:exported="false"/>
        <activity android:name="com.projectaty.activities.taskmanagement.TasksDashboard" android:exported="true"/>
    </application>
</manifest>